@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&display=swap"); /* !! google font */

:root {
  /* !! global variables */
  --bold-font: "Caveat Brush", cursive;
  --normal-font: "Caveat", cursive;
  --min-color: #01b965;
  --font-color: #070507;
  --effect-color: #fb5e93;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
  border: none;
}
::selection {
  background-color: var(--min-color);
  color: var(--white);
}
html {
  scroll-behavior: smooth;
 
}

/*!  top section  */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container img {
  width: 100px;
}
.container h1 {
  font-size: 90px;
  font-family: var(--bold-font);
}
.container p {
  font-size: 25px;
  text-align: center;
  font-family: var(--normal-font);
}
.top_add {
  width: 180px;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  font-weight: 800;
  margin-top: 20px;
  border-radius: 30px;
  background-color: var(--min-color);
  transition: 0.1s ease-in;
  cursor: pointer;
}
.top_add:hover {
  background-color: var(--effect-color);
  box-shadow: var(--effect-color) 0px 0px 8px 0px;
}
.top_add a {
  color: var(--white);
}

.container video {
  max-width: 900px;
}
/*!  taskes  section */
.task_con {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.task_con::after {
  content: "";
  background-image: url('/img/hero.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  left: 0;
  width: 350px;
  height: 620px;
}
.task_con h1 {
  font-family: var(--normal-font);
  font-size: 90px;
  margin-bottom: 30px;
}
.task_con h1 span {
  color: var(--min-color);
}
.task_inbut #inbut {
  width: 700px;
  border-radius: 50px;
  height: 60px;
  box-shadow: var(--min-color) 0px 0px 4px 0px;
  padding-left: 20px;
}
.task_inbut #inbut:active {
  box-shadow: var(--effect-color) 0px 0px 4px 0px;
}

.task_inbut #add_btn {
  width: 110px;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  font-weight: 800;
  margin-left: 20px;
  border-radius: 30px;
  background-color: var(--min-color);
  color: var(--white);
  transition: 0.1s ease-in;
  cursor: pointer;
  position: relative;
}

.task_inbut #add_btn:hover {
  background-color: var(--effect-color);
  box-shadow: var(--effect-color) 0px 0px 8px 0px;
}

/*!  tasks  */
#tasks {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.text {
  display: flex;
}
.text i {
  color: var(--min-color);
  font-size: 20px;
  margin-right: 10px;
}
#tasks #now {
  display: flex;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  padding: 12px 40px 12px 40px;
  box-shadow: var(--min-color) 0px 0px 4px 0px;
}
#delete {
  background-color: var(--effect-color);
  border-radius: 30px;
  width: 50px;
  font-size: 20px;
  padding: 10px;
  font-weight: 800;
  color: var(--white);
  transition: 0.1s ease-in;
  cursor: pointer;
}
#delete:hover {
  transform: scale(1.1);
}
